<%- include('./partials/nav') %>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%=category%></title>
    </head>

    <body>
        <h1><%=category[0].toUpperCase() + category.substring(1)%></h1>
        <ul>
            <% filtedMenu.forEach(dish => { %>
                <li>Try Our: <%= dish.name %>
                </li>
                <p> Details: <%= dish.details %> Price:<%= dish.price %>$ <br> Rating: <%= dish.rating %>  Stars</p>


         <%   }) %>
        </ul>
    </body>

    </html>